@use "../abstracts/variables" as *;

.form {
  &.custom-rows {
    &.v1 {
      & > .row {
        margin-bottom: var(--s-Z1);
      }
    }
  }

  .form-header {
    &.v1 {
      color: $cgreen-A700;
      &>*{
        padding-inline-start: 0rem;
      }
      h2{
        font-weight: 800;
      }
      p{
        font-weight: 320;
        a{
          color: inherit;
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .form-link{
    display: block;
    color: inherit;
    max-width: max-content;
    &.v1{
      color: $cgreen-A100;
      font-weight: 300;
    }
  }

  .label {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .control {
    display: grid;
    grid-template-columns: max-content auto max-content;
    background-color: $graySP-A100;
    padding: $control-padding;
    border-radius: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;

    & > * {
      grid-row: 1/2;
    }
    :is(.prefix, .suffix) {
      display: grid;
      place-items: center;
      width: max-content;
    }

    .prefix {
      grid-column: 1/2;
      padding-inline-end: $control-padding;
    }

    .suffix {
      grid-column: 3/4;
    }

    &:has(.field:focus) {
      outline: 2px solid $cgreen-A700;
    }

    &:has(select:not(.defPad), textarea) {
      padding: 0;
    }

    .field {
      border: none;
      background-color: transparent;
      grid-column: 2/3;

      &:is(select:not(.defPad), textarea) {
        padding: $control-padding;
      }

      &::placeholder {
        color: black;
      }
      
      &:is(:focus) {
        border: none;
        outline: none;
      }
    }
    // &:has(input:focus, textarea:focus, select:focus){
    //     outline: 2px solid $cgreen-A700;
    // }
    // :is(input, textarea, select){
    //     border: none;
    //     background-color: transparent;
    //     &::placeholder{
    //         color: black;
    //     }
    //     &:is(:focus){
    //         border: none;
    //         outline: none;
    //     }
    // }
  }

}
