@use "../abstracts/variables" as *;

.line {
  &:is(.colored, .gray) {
    &:is(.lnc-v1, .lng-v1, .lng-v2){
      height: 1px;
      width: 100%;
      padding-inline: 0px;
      margin-inline: 0px;
    }
  }
  &.colored {
    &.lnc-v1 {
      background-color: #34785f;
    }
  }

  &.gray {
    &:is(.lng-v1, .lng-v2) {
      margin-block: var(--s-Z2);
    }
    &.lng-v1{
      background-color: $graySP-A300;
    }
    &.lng-v2{
      background-color: $graySP-A200;
    }
  }
}
