<section class="adminpanel-home padding-set main-padding">
    <div class="row gap-md-3">
        <div class="col-md-7">
            <div class="info-card">
                <div class="img">
                    <img src="assets/img/1.jpg">
                </div>
                <div class="info">
                    <h3 class="title">Hossam</h3>
                    <p class="address"><i class="ri-map-pin-line"></i> Cairo University Bridge, Cairo, Egypt</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="calendar-card">
                <h3 class="title">Update your calender</h3>
                <p class="text">Bookings you receive are instant. Avoid overbookings by updating your calendar.</p>
                <div>
                    <a class="button primary text-decoration-none" routerLink="/adminpanel/property/calender">Update calender</a>
                </div>
            </div>
        </div>
    </div>
    
</section>