<div class="service-card defBG rounded-8 justify-content-end d-flex flex-column {{ additionClassName }}"
     [ngStyle]="{ 'background-image':  'url(' + backgroundImageUrl + ')'  }">
  <div class="padding-40px pe-4rem d-flex flex-column gradient-shadow">
        <div class="font-sets f-S0 title">
            {{ title }}
        </div>
        <div class="row align-items-center flex-nowrap font-sets f-S0">
            <div class="col-11 paragraph fw-300">
                <ng-content select=".service-details"></ng-content>
            </div>
            <div class="col-1 icon-circle">
                <a routerLink="{{ routeTo }}" class="text-reset text-decoration-none">
                    <i class="ri-arrow-{{dir}}-s-line icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>
