<div class="padding-set main-padding service-section bg-eclipse d-flex flex-column">
  <div class="font-sets f-S0 f-0">{{"headers.OurServices"| translate}}</div>
  <div class="font-sets f-S0 f-1 color-main-gray mb-41px">{{"paragraphs.ServicesParg"|translate}}</div>
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch mb-md-0 mb-3 minh-A1">
      <app-service-card  [additionClassName]="'h-100'" [title]="services[0].title" [backgroundImageUrl]="services[0].img" [routeTo]="'/'">
        <div class="service-details">
          {{services[0].details}}
        </div>
      </app-service-card>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-between">
      <app-service-card   [additionClassName]="'minh-A2 mb-3 mb-md-0'" [backgroundImageUrl]="services[1].img" [title]="services[1].title" [routeTo]="'/'">
        <div class="service-details">
          {{services[1].details}}
        </div>
      </app-service-card>
      <app-service-card [additionClassName]="'minh-A2'"  [backgroundImageUrl]="services[2].img" [title]="services[2].title" [routeTo]="'/'">
        <div class="service-details">
          {{services[2].details}}
        </div>
      </app-service-card>
    </div>
  </div>
</div>
