@font-face {
    font-family: "The Seasons";
    src: url("../../fonts/The-Seasons/Fontspring-DEMO-theseasons-bd.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "The Seasons";
    src: url("../../fonts/The-Seasons/Fontspring-DEMO-theseasons-bdit.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "The Seasons";
    src: url("../../fonts/The-Seasons/Fontspring-DEMO-theseasons-it.otf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "The Seasons";
    src: url("../../fonts/The-Seasons/Fontspring-DEMO-theseasons-lt.otf")  format('opentype');
}