<app-navbar [dark]="true"></app-navbar>
<section class="mx-0">
    <div class="row mx-0 my-2 px-md-5 px-1 aboutus-header">
        <div class="my-2">
            <div class="left">
            </div>
            <div class="right">
                <h1 class="aboutus-title">About Us</h1>
            </div>
        </div>
    </div>
    <div class="row aboutus-section text-center">
        <header>About Us</header>
        <p>Welcome to La Casa Residence, a 5-star hotel in the heart of El Nasr City, Cairo, where luxury meets
            convenience. At Lacasa, we are dedicated to providing an exceptional hospitality experience for visitors
            from Egypt and beyond. Our goal is to ensure that every guest feels pampered, valued, and at home.</p>
    </div>
    <div class="row justify-content-between gap-md-0 gap-4 aboutus-section">
        <div class="col-md-4">
            <app-card [header]="'Our Mission'">
                <p class="paragraph">
                    Our mission is to redefine luxury and comfort in the hospitality industry. We strive to create an
                    environment where our guests can relax, rejuvenate, and enjoy the finest amenities and services.
                    Whether
                    you are here for business or leisure, Lacasa aims to be your preferred destination in Cairo.
                </p>
            </app-card>

        </div>
        <div class="col-md-4">
            <app-card [header]="'Our Vision'">
                <p class="paragraph">
                    At La Casa Residence, we envision becoming a beacon of excellence in the
                    hospitality sector. We aspire to set new standards in luxury, service, and guest satisfaction. Our
                    vision is to
                    be recognized as a premier hotel that consistently exceeds guest expectations.</p>
            </app-card>
        </div>
        <div class="col-md-4">
            <app-card [header]="'Our Team'">
                <p class="paragraph">
                    Our team at Lacasa is passionate about hospitality and dedicated to making your
                    stay exceptional. From the moment you arrive, our staff is here to cater to your every need,
                    providing warm and attentive service to ensure your complete satisfaction.</p>
            </app-card>
        </div>
    </div>
    <div class="row aboutus-section aboutus-video">
      <iframe style="margin: auto;" width="50%" height="500"
      src="https://www.youtube.com/embed/BwNyfylA7do?si=dZ5Kzpx0Mq-pU_fX" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
<app-footer></app-footer>
