<app-navbar [dark]="true"></app-navbar>
<section class="mx-0">
    <div class="row mx-0 my-2 px-md-5 px-1 aboutus-header">
        <div class="my-2">
            <div class="left">
            </div>
            <div class="right">
                <h1 class="aboutus-title">{{"keywords.AboutUs"|translate}}</h1>
            </div>
        </div>
    </div>
    <div class="row aboutus-section text-center">
        <header>{{"keywords.AboutUs"|translate}}</header>
        <p>{{"paragraphs.AboutUsParg.MainParg"|translate}}</p>
    </div>
    <div class="row justify-content-between gap-md-0 gap-4 aboutus-section">
        <div class="col-md-4">
            <app-card header="{{'headers.OurMission'|translate}}">
                <p class="paragraph">
                    {{"paragraphs.AboutUsParg.OurMissionParg"|translate}}
                </p>
            </app-card>

        </div>
        <div class="col-md-4">
            <app-card header="{{'headers.OurVision'|translate}}">
                <p class="paragraph">{{"paragraphs.AboutUsParg.OurVisionParg"|translate}}</p>
            </app-card>
        </div>
        <div class="col-md-4">
            <app-card header="{{'headers.OurTeam'|translate}}">
                <p class="paragraph">{{"paragraphs.AboutUsParg.OurTeamParg"|translate}}</p>
            </app-card>
        </div>
    </div>
    <div class="row aboutus-section aboutus-video">
      <iframe style="margin: auto;" width="50%" height="500"
      src="https://www.youtube.com/embed/BwNyfylA7do?si=dZ5Kzpx0Mq-pU_fX" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
<app-footer></app-footer>
