<app-card-shell>
    <section class="container-fluid mainBody">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form custom-rows v1">
            <div class="row form-header v1">
                <h2>Login</h2>
                <p>Don`t have an account yet? create an account <a [routerLink]="['/register']">Here</a></p>
            </div>
            <div class="row">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <span class="prefix main-color"><i class="ri-mail-fill"></i></span>
                    <input type="email" id="email" class="field" formControlName="email"
                        placeholder="Enter your email..." aria-describedby="email">
                </div>
            </div>
            <div class="row">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <span class="prefix main-color"><i class="ri-lock-2-fill"></i></span>
                    <input type="{{hide ? 'password': 'text'}}" id="password" class="field" formControlName="password"
                        placeholder="Enter your password..." aria-describedby="password">
                    <span class="suffix main-color" (click)="hide=!hide"><i
                            class="{{hide? 'ri-eye-off-line': 'ri-eye-line'}}"></i></span>
                </div>
            </div>
            <div class="row justify-content-end">
                <a routerLink="/" class="form-link v1">Forget Password?</a>
            </div>
            <div class="row">
                <button type="submit" class="btn-set btn-green-gradient-sm with-radius maxw-A5 mx-auto" [disabled]="loginForm.invalid">Sign
                    In</button>
            </div>
            <div class="row">
                <div class="col-6 p-0 pe-1">
                    <button class="btn-set btn-green-gradient-lg with-radius maxw-A5"><i class="ri-google-fill"></i> Google</button>
                </div>
                <div class="col-6 p-0 ps-1">
                    <button class="btn-set btn-green-gradient-lg with-radius maxw-A5"><i class="ri-facebook-circle-fill"></i>
                        Facebook</button>
                </div>
            </div>
        </form>
    </section>
</app-card-shell>