<section class="adminpanel-styles padding-set main-padding">
    <header class="header mb-4">Facilities & services</header>
    <p class="reg-text">Listing your facilities can really help influence guests to book! Update the ones available at your property or on-site below.</p>
    <div class="form mb-3">
        <div class="control bg-white">
            <div class="prefix">
                <i class="ri-search-line"></i>
            </div>
            <input type="text" class="field" placeholder="Search for a facility or service">
        </div>
    </div>
    <div class="card">
        <h3 class="title mb-4">Top Facilities</h3>
    </div>
</section>