<section class="adminpanel-styles padding-set main-padding">
    <div class="d-flex justify-content-between mb-4">
        <div>
            <header class="header">General Info</header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="part">
                    <h4 class="label">Property name:</h4>
                    <p class="data">Hossux</p>
                </div>
                <div class="part">
                    <h4 class="label">Property address:</h4>
                    <p class="data">Cairo University Bridge</p>
                </div>
                <div class="part">
                    <h4 class="label">Property location:</h4>
                    <p class="data">30.0285015, 31.2223367</p>
                </div>
                <div class="part d-flex">
                    <h4 class="label">Property status:</h4>
                    <div class="status closed">Closed/Not bookable</div>
                </div>
            </div>
        </div>
    </div>
</section>