<section class="padding-set main-padding banner">
  <div class="row align-items-center mb-3 mb-md-0">
    <div class="col-12 col-md-6">
      <h1 class="header">From Home</h1>
      <h2 class="header text-italic">To Home</h2>
    </div>
    <div class="col-12 col-md-6 text-center">
      <p class="subtitle fw-300 color-light">{{"paragraphs.BannerParg" | translate}}</p>
      <a class="btn-set btn-green-gradient-lg with-radius maxw-X7 mx-auto">{{"actions.Explore"|
        translate}} {{"keywords.Now"|
        translate}}{{"symbols.!"|translate}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="searchForm" (ngSubmit)="search()" class="bg-dark bg-opacity-75 p-4 rounded">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-3">
            <label for="selectArea" class="banner-label fw-300">{{'forms.labels.SelectArea'|translate}}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-icon matIconPrefix>location_on</mat-icon>
              <mat-select #select id="selectArea" placeholder="{{'forms.labels.SelectArea'|translate}}" formControlName="selectArea">
                <mat-option selected="" [value]="">{{'forms.labels.SelectArea'|translate}}</mat-option>
                @for (area of areas; track area) {
                <mat-option [value]="area.id">{{area.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 row justify-content-evenly">
            <div class="col-6 ps-0 pe-1 px-md-2">
              <label for="fromDate" class="banner-label fw-300">{{'forms.labels.Duration'|translate}}</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="fromDate" placeholder="{{'keywords.From'|translate}}" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconPrefix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker1">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
              </mat-form-field>
            </div>
            <div class="col-6 pe-0 ps-1 px-md-2">
              <label for="guests" class="banner-label fw-300">&nbsp;</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput formControlName="toDate"  placeholder="{{'keywords.To'|translate}}" [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconPrefix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker2">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3">
            <label for="guests" class="banner-label fw-300">{{'forms.labels.Guests'|translate}}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-icon matIconPrefix>group</mat-icon>
              <input matInput type="number" name="guests" formControlName="numOfGuests" placeholder="{{'keywords.NumberOf'|translate}} {{'forms.labels.Guests'|translate}}"
                id="guests">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn-set btn-green-dark-sm with-radius">{{'actions.Search'|translate}}</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>