@if (isDuo) {
        <div class="custom-checkbox d-flex gap-0">
            <label [ngClass]="{'checked': isChecked}" (click)="customCheck(true)">Yes</label>
            <label [ngClass]="{'checked': !isChecked}" (click)="customCheck(false)">No</label>
            <input type="checkbox" [name]="name" [id]="id" [value]="checkboxValue" [checked]="isChecked">
        </div>
        <div class="custom-checkbox">
        </div>
        <div class="custom-checkbox">
            
        </div>

}
@if (!isDuo) {
<div class="custom-checkbox">
    <label [for]="id" [ngClass]="{'checked': isChecked}">{{label}}</label>
    <input type="checkbox" [name]="name" [id]="id" [value]="checkboxValue" [checked]="isChecked" (change)="regCheck($event)">
</div>
}