<div class="bg-image">
  <app-navbar></app-navbar>
  <app-banner></app-banner>
  <app-services></app-services>
</div>
<div class="main-background z-1">
  <!--  -->
  <!-- <app-trending></app-trending> -->
  <!--  -->

  <div class="container">
    <div class="cards-set card-v3">

      <div class="mainBody">
        <div>
          <h1 class="main-font f-A4-B4">{{"paragraphs.HomeParg.Parg1"|translate}}</h1>
          <p class="main-font f-A1 fw-300 maxw-X6">{{"paragraphs.HomeParg.Parg2"|translate}}</p>
          <a routerLink="/" class="btn-set btn-orange-gradient-lg with-radius maxw-X7 text-center">{{"actions.Explore"|
            translate}} {{"keywords.Now"|
            translate}}{{"symbols.!"|translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <app-top-places></app-top-places>
  <!--  -->
  <div class="cards-set card-v1 padding-set pad-v2 d-flex flex-column">

    <iframe style="margin: auto;" width="80%" height="400"
      src="https://www.youtube.com/embed/BwNyfylA7do?si=dZ5Kzpx0Mq-pU_fX" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <P></P>
    <P></P>
    <P></P>
    <!--  -->
    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
