<div class="line colored v1"></div>
<section class="max-width newsletter">
  <div class="row d-flex padding">
    <div class="col-md-7">
      <h4 class="font-sets f-S0 f-0 heading">Subscribe to our newsletter</h4>
      <p class="font-sets f-S0 f-1 text">Get e-mail updates about our latest spaces</p>
    </div>

    <div class="col-md-5 form">
      <label for="email" class="label fw-300">Email</label>
      <div class="control">
        <span class="prefix main-color"><i class="ri-mail-fill"></i></span>
        <input type="email" id="email" class="field" placeholder="Enter your email..."
          aria-describedby="email">
      </div>
    </div>
  </div>
</section>
<div class="line colored v1"></div>