@use "../abstracts/variables" as *;

.main-font {
  font-family: $main-font !important;
}

.secondary-font {
  font-family: $secondary-font;
}

.third-font {
  font-family: $third-font;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.letter-spacing-0 {
  letter-spacing: 0px;
}

.line-height-9vw {
  line-height: 9vw;
}


.f-A1{
  @include FontMixin($f-A1);
}
.f-A4{
  @include FontMixin($f-A4);
}
.f-Z0-A3 {
  @include DynamicFontMixin($f-Z0, var(--s-VW2), $f-A3);
}
.f-A1-A2 {
  @include DynamicFontMixin($f-A1, var(--s-VW2), $f-A2);
}
.f-A4-B4 {
  @include DynamicFontMixin($f-A4, var(--s-VW3), $f-B4);
}
