// .maxh-A1 {
//   max-height: 568px;
// }

// .minh-A1{
//   min-height: 568px;
// }

// .minh-A2{
//     min-height: 268px;
// }
.maxh-A1 {
  max-height: 668px;
}

.minh-A1 {
  min-height: 668px;
}

.minh-A2 {
  min-height: 318px;
}