@use "../abstracts/variables" as *;

.margindata {
  margin-top: 1.8vw;
  margin-right: 3vw;
}

.mb-41px {
  margin-bottom: 41px;
}

.margin-set{
  --top-margin:  var(--s-Z0);
  --bottom-margin:  var(--s-Z0);
  --block-margin: var(--top-margin) var(--bottom-margin);
  --right-margin:  var(--s-Z0);
  --left-margin:  var(--s-Z0);
  --inline-margin: var(--right-margin) var(--left-margin);
  --margin: var(--block-margin) var(--inline-margin);

  margin: var(--margin);

  &.mrg-v1{
    margin-inline: unset;
  }

  &.mrg-v2{
    --block-margin: var(--s-A9);
    --inline-margin: var(--s-A5);
  }
}
