.width-25rem {
  width: 25rem;
}

.max-width{
  max-width: 1225px;
  margin-inline: auto;
  padding-inline: 16px;
}
.maxw-B1{
  max-width: var(--s-B1);
}

.maxw-X0{
  max-width: var(--s-X0);
}
.maxw-X3{
  max-width: var(--s-X3);
}
.maxw-X4{
  max-width: var(--s-X4);
}
.maxw-X5{
  max-width: var(--s-X5);
}
.maxw-X6{
  max-width: var(--s-X6);
}
.maxw-X7{
  max-width: var(--s-X7);
}
.maxw-X8{
  max-width: var(--s-X8);
}