.width-25rem {
  width: 25rem;
}

.max-width{
  max-width: 1225px;
  margin-inline: auto;
  padding-inline: 16px;
}

.maxw-A1{
  max-width: var(--s-X3);
}
.maxw-A2{
  max-width: var(--s-X4);
}
.maxw-A3{
  max-width: var(--s-X5);
}
.maxw-A4{
  max-width: var(--s-X6);
}
.maxw-A5{
  max-width: var(--s-X7);
}
.maxw-A6{
  max-width: var(--s-X8);
}